<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.loadbalancer.org/dsl/LoadBalancer"
			class = "org.loadbalancer.dsl.loadBalancer.LoadBalancerPackage"
			genModel = "model/generated/LoadBalancer.genmodel" />
	</extension>
</plugin>
